@font-face {
  font-family: 'cera_problack';
  src: url('cerapro-black-webfont.eot');
  src: url('cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('cerapro-black-webfont.woff2') format('woff2'),
    url('cerapro-black-webfont.woff') format('woff'),
    url('cerapro-black-webfont.ttf') format('truetype'),
    url('cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_probold';
  src: url('./../fonts/cerapro-bold-webfont.eot');
  src: url('./../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('./../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('./../fonts/cerapro-medium-webfont.eot');
  src: url('./../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('./../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_proregular';
  src: url('./../fonts/cerapro-regular-webfont.eot');
  src: url('./../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('./../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 14px;
  font-family: 'cera_proregular', 'sans serif';
}
body {
  margin-top: 100px; /*Сделано только для корректного отображения секции (при полной готовности страницы УДАЛИТЬ свойство!)*/
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
main .additional-offers {
  margin-bottom: 138px;
}
main .additional-offers .wrapper {
  display: flex;
  gap: 28px;
}

main section.additional-offers article {
  display: flex;
  align-items: center;
  padding: 37px 11px 46px 0px;
  background-color: #fbfbfb;
  position: relative;
}
main section.additional-offers img {
  position: absolute;
  top: -60px;
  left: 0;
}
main section.additional-offers .content-container {
  text-align: right;
}
main section.additional-offers .content-container .title {
  font-family: 'cera_problack', sans-serif;
  font-size: 18px;
  color: #3d3d3d;
  text-transform: uppercase;
  line-height: 133%;
  text-align: right;
  margin-bottom: 9px;
  padding-left: 380px;
}
main section.additional-offers .content-container .text {
  color: #727272;
  line-height: 171%;
  margin-bottom: 25px;
  padding-left: 264px;
}
main section.additional-offers .content-container .btn {
  display: inline-flex;
  align-items: center;
  background-color: #46a358;
  line-height: 143%;
  color: white;
  font-family: 'cera_promedium', sans-serif;
  border-radius: 6px;
  padding: 10px 25px;
}
main section.additional-offers .content-container .btn:after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  width: 18px;
  height: 18px;
  background-image: url('./../images/icons/arrow-right-white-2.svg');
}

main section.additional-offers .content-container .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
main section.additional-offers .content-container .btn:hover:after {
  background-image: url('./../images/icons/arrow-right-dark-2.svg');
}

main .blog-posts {
  text-align: center;
}
main .blog-posts h2.title {
  font-size: 30px;
  font-family: 'cera_probold', sans-serif;
  margin-bottom: 15px;
  line-height: 53%;
  color: #3d3d3d;
}
main .blog-posts .description {
  margin-bottom: 35px;
  color: #727272;
  line-height: 171%;
}
main .blog-posts .article-container {
  display: flex;
  justify-content: space-between;
  gap: 43px;
}
main section.blog-posts .article-container .card .card-content {
  background-color: #fbfbfb;
  text-align: left;
  padding: 9px 22px 12px 15px;
}
main section.blog-posts .article-container .card img {
  display: block;
}
main section.blog-posts .article-container .card .card-content .about {
  color: #46a358;
  font-family: 'cera_promedium', sans-serif;
  margin-bottom: 4px;
}
main section.blog-posts .article-container .card .card-content .title {
  font-size: 20px;
  font-family: 'cera_probold', sans-serif;
  line-height: 114%;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
}
main section.blog-posts .article-container .card .card-content .text {
  color: #727272;
  margin-bottom: 9px;
  line-height: 157%;
}
main section.blog-posts .article-container .card .card-content .btn {
  align-items: center;
  font-family: 'cera_promedium', sans-serif;
  color: #3d3d3d;
  line-height: 114%;
}
main section.blog-posts .article-container .card .card-content .btn:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  background-image: url('./../images/icons/arrow-right-dark.svg');
  margin-left: 3px;
}
main section.blog-posts .article-container .card .card-content .btn:hover {
  color: #46a358;
}
main section.blog-posts .article-container .card .card-content .btn:hover:after {
  background-image: url('./../images/icons/arrow-right-green.svg');
}
