@font-face {
  font-family: 'cera_problack';
  src: url('cerapro-black-webfont.eot');
  src: url('cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('cerapro-black-webfont.woff2') format('woff2'),
    url('cerapro-black-webfont.woff') format('woff'),
    url('cerapro-black-webfont.ttf') format('truetype'),
    url('cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_probold';
  src: url('./../fonts/cerapro-bold-webfont.eot');
  src: url('./../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('./../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_promedium';
  src: url('./../fonts/cerapro-medium-webfont.eot');
  src: url('./../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('./../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cera_proregular';
  src: url('./../fonts/cerapro-regular-webfont.eot');
  src: url('./../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('./../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('./../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('./../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: 'cera_proregular', 'sans serif';
}

.register-page {
  max-width: 500px;
  margin: auto;
  border-bottom: 10px solid #46a358;
}
.wrapper-register {
  width: 300px;
  margin: auto;
  padding: 52px 0px 40px;
  position: relative;
}
.register-page .wrapper-register .close-page {
  background-image: url('../images/icons/close-page.svg');
  background-position: center;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid white;
  transition: 0.4s;
}
.register-page .wrapper-register .close-page:hover {
  border: 1px solid #a3d8ae;
  border-radius: 6px;
  background-size: 130%;
}
.register-page .wrapper-register .switch-modes {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.register-page .wrapper-register .title-login,
.register-page .wrapper-register .title-register {
  font-family: 'cera_promedium', sans-serif;
  font-size: 20px;
  line-height: 80%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  color: #3d3d3d;
  transition: 0.4s;
}
.register-page .wrapper-register .title-login {
  padding-right: 13px;
  border-right: 1px solid #3d3d3d;
}
.register-page .wrapper-register .title-register {
  padding-left: 12px;
}
.register-page .wrapper-register .title-login:hover,
.register-page .wrapper-register .title-register:hover {
  text-shadow: 0px 2px 15px #3d3d3d;
}
.register-page .wrapper-register .active-green {
  color: #46a358;
}
.register-page .wrapper-register .active-green:hover {
  text-shadow: 0px 2px 15px #46a358;
}
.register-page .wrapper-register .about {
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
}
.register-page .wrapper-register input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.register-page .wrapper-register #password {
  background-image: url('../images/icons/hide-eye.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.register-page .wrapper-register input::placeholder {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 114%;
}
.register-page .wrapper-register .btn {
  width: 100%;
  background-color: #46a358;
  border-radius: 5px;
  font-family: 'cera_cera_probold', sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 16px 0px 13px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  margin-bottom: 36px;
  transition: 0.4s;
}
.register-page .wrapper-register .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
.register-page .wrapper-register .about-option {
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 27px;
}
.register-page .wrapper-register .about-option:before,
.register-page .wrapper-register .about-option:after {
  content: '';
  display: block;
  width: 95px;
  border: 1px solid #eaeaea;
}

.register-page .wrapper-register .google-btn,
.register-page .wrapper-register .facebook-btn {
  font-size: 13px;
  line-height: 123%;
  width: 100%;
  text-align: center;
  color: #727272;
  font-family: 'cera_promedium', sans-serif;
  padding: 14px 0px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.register-page .wrapper-register .google-btn {
  margin-bottom: 15px;
}
.register-page .wrapper-register .facebook-btn {
  margin-bottom: 40px;
}
.register-page .wrapper-register .facebook-btn:hover,
.register-page .wrapper-register .google-btn:hover {
  background-color: #ffeed2;
}
.register-page .wrapper-register .google-btn:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/google-logo.svg');
  margin-right: 9px;
}
.register-page .wrapper-register .facebook-btn:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/icons/facebook-logo.svg');
  margin-right: 4px;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
header {
  margin-bottom: 12px;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  padding-top: 30px;
}
header .wrapper .logo-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
header .wrapper .logo-box img {
  display: block;
}
header .wrapper .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .wrapper .menu li {
}
header .wrapper .menu li:after {
  content: '';
  display: block;
  max-width: 0%;
  height: 3px;
  background-color: #46a358;
  transition: 0.6s;
}

header .wrapper .menu li .menu-item {
  font-size: 16px;
  padding-bottom: 25px;
  color: #3d3d3d;
}

header .wrapper .menu li:hover {
  font-weight: 700;
}
header .wrapper .menu li:hover:after {
  max-width: 100%;
}
header .wrapper .log-in-btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  font-family: 'cera_promedium', sans-serif;
  display: flex;
  align-items: center;
  padding: 8px 17px;
  border-radius: 6px;
  background-color: #46a358;
  margin-bottom: 15px;
  transition: 0.4s;
}
header .wrapper .log-in-btn::before {
  content: '';
  display: inline-block;
  background-image: url('../images/icons/log-in-white.svg');
  width: 20px;
  height: 20px;
  margin-right: 4px;
  transition: 0.4s;
}
header .wrapper .log-in-btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
header .wrapper .log-in-btn:hover::before {
  background-image: url('../images/icons/log-in-dark.svg');
}
main .main-banner {
  margin-bottom: 46px;
}
main .main-banner .wrapper {
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-banner .wrapper .content-container {
  padding-left: 40px;
}
main .main-banner .wrapper .content-container .greeting {
  font-family: 'cera_promedium', sans-serif;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px;
}
main .main-banner .wrapper .content-container .title {
  font-family: 'cera_problack', sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
}
main .main-banner .wrapper .content-container .title > span {
  color: #46a358;
}
main .main-banner .wrapper .content-container .text {
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
}
main .main-banner .wrapper .content-container .btn {
  font-family: 'cera_probold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  background-color: #46a358;
  border-radius: 6px;
  padding: 11px 27px;
  transition: 0.4s;
}
main .main-banner .wrapper .content-container .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
main .main-banner .wrapper > img {
  display: block;
}
main .additional-offers {
  margin-bottom: 138px;
}
main .additional-offers .wrapper {
  display: flex;
  gap: 28px;
}

main section.additional-offers article {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}
main section.additional-offers img {
  display: block;
  position: relative;
  top: -50px;
  left: 0;
}
main section.additional-offers .content-container {
  padding-right: 11px;
  text-align: right;
}
main section.additional-offers .content-container .title {
  font-family: 'cera_problack', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #3d3d3d;
  text-transform: uppercase;
  line-height: 133%;
  text-align: right;
  margin-bottom: 9px;
}
main section.additional-offers .content-container .text {
  color: #727272;
  line-height: 171%;
  margin-bottom: 25px;
}
main section.additional-offers .content-container .btn {
  display: inline-flex;
  align-items: center;
  background-color: #46a358;
  line-height: 143%;
  color: white;
  font-family: 'cera_promedium', sans-serif;
  font-weight: 500;
  border-radius: 6px;
  padding: 10px 25px;
  transition: 0.4s;
}
main section.additional-offers .content-container .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
main section.additional-offers .content-container .btn::after {
  content: '';
  display: inline-block;
  background-image: url('./../images/icons/arrow-right-white-2.svg');
  margin-left: 3px;
  width: 18px;
  height: 18px;
  transition: 0.4s;
}

main section.additional-offers .content-container .btn:hover::after {
  background-image: url('./../images/icons/arrow-right-dark-2.svg');
}

main .blog-posts {
  text-align: center;
}
main .blog-posts h2.title {
  font-size: 30px;
  font-family: 'cera_probold', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 53%;
  color: #3d3d3d;
}
main .blog-posts .description {
  margin-bottom: 35px;
  color: #727272;
  line-height: 171%;
}
main .blog-posts .article-container {
  display: flex;
  justify-content: space-between;
  gap: 43px;
}
main section.blog-posts .article-container .card .card-content {
  background-color: #fbfbfb;
  text-align: left;
  padding: 9px 22px 12px 15px;
}
main section.blog-posts .article-container .card img {
  display: block;
}
main section.blog-posts .article-container .card .card-content .about {
  color: #46a358;
  font-family: 'cera_promedium', sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
}
main section.blog-posts .article-container .card .card-content .title {
  font-size: 20px;
  font-family: 'cera_probold', sans-serif;
  font-weight: 700;
  line-height: 114%;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
}
main section.blog-posts .article-container .card .card-content .text {
  color: #727272;
  margin-bottom: 9px;
  line-height: 157%;
}
main section.blog-posts .article-container .card .card-content .btn {
  align-items: center;
  font-family: 'cera_promedium', sans-serif;
  font-weight: 500;
  color: #3d3d3d;
  line-height: 114%;
  transition: 0.4s;
}
main section.blog-posts .article-container .card .card-content .btn:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 10px;
  background-image: url('./../images/icons/arrow-right-dark.svg');
  margin-left: 3px;
  transition: 0.4s;
}
main section.blog-posts .article-container .card .card-content .btn:hover {
  color: #46a358;
}
main section.blog-posts .article-container .card .card-content .btn:hover:after {
  background-image: url('./../images/icons/arrow-right-green.svg');
}
