@font-face {
  font-family: "cera_problack";
  src: url("./../fonts/cerapro-black-webfont.eot");
  src: url("./../fonts/cerapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-black-webfont.woff2") format("woff2"), url("./../fonts/cerapro-black-webfont.woff") format("woff"), url("./../fonts/cerapro-black-webfont.ttf") format("truetype"), url("./../fonts/cerapro-black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_probold";
  src: url("./../fonts/cerapro-bold-webfont.eot");
  src: url("./../fonts/cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-bold-webfont.woff2") format("woff2"), url("./../fonts/cerapro-bold-webfont.woff") format("woff"), url("./../fonts/cerapro-bold-webfont.ttf") format("truetype"), url("./../fonts/cerapro-bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_promedium";
  src: url("./../fonts/cerapro-medium-webfont.eot");
  src: url("./../fonts/cerapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-medium-webfont.woff2") format("woff2"), url("./../fonts/cerapro-medium-webfont.woff") format("woff"), url("./../fonts/cerapro-medium-webfont.ttf") format("truetype"), url("./../fonts/cerapro-medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_proregular";
  src: url("./../fonts/cerapro-regular-webfont.eot");
  src: url("./../fonts/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-regular-webfont.woff2") format("woff2"), url("./../fonts/cerapro-regular-webfont.woff") format("woff"), url("./../fonts/cerapro-regular-webfont.ttf") format("truetype"), url("./../fonts/cerapro-regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_prolight";
  src: url("./../fonts/cerapro-light-webfont.eot");
  src: url("./../fonts/cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-light-webfont.woff2") format("woff2"), url("./../fonts/cerapro-light-webfont.woff") format("woff"), url("./../fonts/cerapro-light-webfont.ttf") format("truetype"), url("./../fonts/cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "encode_sans_expandedregular";
  src: url("./../fonts/encodesansexpanded-regular-webfont.eot");
  src: url("./../fonts/encodesansexpanded-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/encodesansexpanded-regular-webfont.woff2") format("woff2"), url("./../fonts/encodesansexpanded-regular-webfont.woff") format("woff"), url("./../fonts/encodesansexpanded-regular-webfont.ttf") format("truetype"), url("./../fonts/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_problack";
  src: url("./../fonts/cerapro-black-webfont.eot");
  src: url("./../fonts/cerapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-black-webfont.woff2") format("woff2"), url("./../fonts/cerapro-black-webfont.woff") format("woff"), url("./../fonts/cerapro-black-webfont.ttf") format("truetype"), url("./../fonts/cerapro-black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_probold";
  src: url("./../fonts/cerapro-bold-webfont.eot");
  src: url("./../fonts/cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-bold-webfont.woff2") format("woff2"), url("./../fonts/cerapro-bold-webfont.woff") format("woff"), url("./../fonts/cerapro-bold-webfont.ttf") format("truetype"), url("./../fonts/cerapro-bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_promedium";
  src: url("./../fonts/cerapro-medium-webfont.eot");
  src: url("./../fonts/cerapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-medium-webfont.woff2") format("woff2"), url("./../fonts/cerapro-medium-webfont.woff") format("woff"), url("./../fonts/cerapro-medium-webfont.ttf") format("truetype"), url("./../fonts/cerapro-medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_proregular";
  src: url("./../fonts/cerapro-regular-webfont.eot");
  src: url("./../fonts/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-regular-webfont.woff2") format("woff2"), url("./../fonts/cerapro-regular-webfont.woff") format("woff"), url("./../fonts/cerapro-regular-webfont.ttf") format("truetype"), url("./../fonts/cerapro-regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cera_prolight";
  src: url("./../fonts/cerapro-light-webfont.eot");
  src: url("./../fonts/cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/cerapro-light-webfont.woff2") format("woff2"), url("./../fonts/cerapro-light-webfont.woff") format("woff"), url("./../fonts/cerapro-light-webfont.ttf") format("truetype"), url("./../fonts/cerapro-light-webfont.svg#cera_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "encode_sans_expandedregular";
  src: url("./../fonts/encodesansexpanded-regular-webfont.eot");
  src: url("./../fonts/encodesansexpanded-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/encodesansexpanded-regular-webfont.woff2") format("woff2"), url("./../fonts/encodesansexpanded-regular-webfont.woff") format("woff"), url("./../fonts/encodesansexpanded-regular-webfont.ttf") format("truetype"), url("./../fonts/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.register-page {
  max-width: 500px;
  margin: auto;
  border-bottom: 10px solid #46a358;
}
.register-page .wrapper-register {
  width: 300px;
  margin: auto;
  padding: 52px 0px 40px;
  position: relative;
}
.register-page .wrapper-register .close-page {
  background-image: url("../images/icons/close-page.svg");
  background-position: center;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border: 1px solid white;
  transition: 0.4s;
}
.register-page .wrapper-register .close-page:hover {
  border: 1px solid #a3d8ae;
  border-radius: 6px;
  background-size: 130%;
}
.register-page .wrapper-register .switch-modes {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.register-page .wrapper-register .title-register,
.register-page .wrapper-register .title-login {
  font-family: "cera_proregular", "sans serif";
  font-size: 20px;
  line-height: 80%;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  padding-left: 12px;
  color: #3d3d3d;
  transition: 0.4s;
}
.register-page .wrapper-register .title-register:hover,
.register-page .wrapper-register .title-login:hover {
  text-shadow: 0px 2px 15px #3d3d3d;
}
.register-page .wrapper-register .title-login {
  padding-right: 13px;
  border-right: 1px solid #3d3d3d;
}
.register-page .wrapper-register .title-login:hover {
  text-shadow: 0px 2px 15px #3d3d3d;
}
.register-page .wrapper-register .active-green {
  color: #46a358;
}
.register-page .wrapper-register .active-green:hover {
  text-shadow: 0px 2px 15px #46a358;
}
.register-page .wrapper-register .about {
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
}
.register-page .wrapper-register input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 14px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.register-page .wrapper-register input::-moz-placeholder {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 114%;
}
.register-page .wrapper-register input::placeholder {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 114%;
}
.register-page .wrapper-register .password-container {
  position: relative;
}
.register-page .wrapper-register .password-container .view-eye {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/hide-eye-gray.svg");
  cursor: pointer;
  transition: 0.4s;
}
.register-page .wrapper-register .password-container .view-eye:hover {
  background-image: url("../images/icons/hide-eye-light-gray.svg");
}
.register-page .wrapper-register .btn {
  width: 100%;
  background-color: #46a358;
  border-radius: 5px;
  font-family: "cera_probold", "sans serif";
  font-size: 16px;
  color: #fff;
  padding: 16px 0px 13px;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border: none;
  margin-bottom: 36px;
  transition: 0.4s;
}
.register-page .wrapper-register .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
.register-page .wrapper-register .about-option {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  gap: 5px;
  margin-bottom: 27px;
}
.register-page .wrapper-register .about-option::before {
  content: "";
  display: block;
  width: 95px;
  border: 1px solid #eaeaea;
}
.register-page .wrapper-register .about-option::after {
  content: "";
  display: block;
  width: 95px;
  border: 1px solid #eaeaea;
}
.register-page .wrapper-register .facebook-btn,
.register-page .wrapper-register .google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 123%;
  width: 100%;
  text-align: center;
  color: #727272;
  font-family: "cera_promedium", "sans serif";
  padding: 14px 0px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  transition: 0.4s;
}
.register-page .wrapper-register .facebook-btn:hover,
.register-page .wrapper-register .google-btn:hover {
  background-color: #ffeed2;
}
.register-page .wrapper-register .google-btn {
  margin-bottom: 15px;
}
.register-page .wrapper-register .google-btn::before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/google-logo.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.register-page .wrapper-register .facebook-btn {
  margin-bottom: 40px;
}
.register-page .wrapper-register .facebook-btn::before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/facebook-logo.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: "cera_proregular", "sans serif";
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.green-btn, main .additional-offers .wrapper article .content-container .btn, main .catalog .wrapper .left-side .price-container .btn, main .main-banner .wrapper .content-container .btn, header .wrapper .menu-container .log-in-btn {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: #46a358;
  border-radius: 6px;
  padding: 10px 26px;
  border: 1px solid transparent;
  transition: 0.6s;
}

.green-btn-hover, main .about-us .wrapper .wrapper-subscribe .subscribe-container .join:hover, main .additional-offers .wrapper article .content-container .btn:hover, main .catalog .wrapper .left-side .price-container .categories-list li .btn:hover, main .main-banner .wrapper .content-container .btn:hover, header .wrapper .menu-container .log-in-btn:hover {
  border: 1px solid #46a358;
  background-color: #eee;
  color: #46a358;
}

.visible-selector, main .catalog .wrapper .right-side .cards-container .card .picture-container:hover .icons-container, header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second:hover .drop-down, header .wrapper .navbar .menu li.nested-drop-down:hover .drop-down {
  visibility: visible;
  opacity: 1;
}

.hidden-selector, main .catalog .wrapper .right-side .pagination-container .pagination-item.arrow-button span, main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container, header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second .drop-down, header .wrapper .navbar .menu li.nested-drop-down .drop-down {
  visibility: hidden;
  opacity: 0;
}

.mobile-wrapper {
  display: none;
}

header {
  margin-bottom: 12px;
  position: relative;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(70, 163, 88, 0.5);
  padding-top: 30px;
}
header .wrapper .logo-container .burger-menu {
  display: none;
}
@media screen and (max-width: 744px) {
  header .wrapper .logo-container .burger-menu {
    display: block;
  }
}
header .wrapper .logo-container .logo-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
}
header .wrapper .logo-container .logo-box img {
  display: block;
}
@media screen and (max-width: 744px) {
  header .wrapper .logo-container .logo-box {
    margin-bottom: 0px;
  }
}
header .wrapper .navbar .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .wrapper .navbar .menu > li::after {
  content: "";
  display: inline-block;
  background-image: url(none);
  background-position: center;
  width: initial;
  height: 3px;
  display: block;
  max-width: 0%;
  transition: max-width 0.6s, background-color 0.6s ease-out;
  background-color: #46a358;
}
header .wrapper .navbar .menu > li:hover:not(.active)::after {
  background-color: #baffc8;
  max-width: 100%;
}
header .wrapper .navbar .menu > li .menu-item {
  font-size: 16px;
  padding-bottom: 35px;
  color: #3d3d3d;
}
header .wrapper .navbar .menu li.nested-drop-down {
  position: relative;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down {
  font-size: 16px;
  color: #3d3d3d;
  padding-top: 16px;
  position: absolute;
  top: 51px;
  transition: 0.6s;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li {
  background-color: #edf6ee;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li a {
  font-family: "encode_sans_expandedregular", "sans serif";
  padding: 8px 14px;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  width: 100%;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li a.menu-item {
  display: flex;
  align-items: center;
  gap: 82px;
  padding-right: 17px;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li a.menu-item::after {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/arrow-right-dark-small.svg");
  background-position: center;
  width: 6px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.6s;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li:hover a {
  color: #fff;
  background-color: #1a712a;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down li:has(ul.drop-down:hover) a.menu-item::after {
  background-image: url("../images/icons/arrow-left-white-small.svg");
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second {
  position: relative;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second:hover a.menu-item::after {
  background-image: url("../images/icons/arrow-right-white-small.svg");
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second:hover ul li a {
  color: #3d3d3d;
  background-color: inherit;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second ul li:hover a {
  color: #fff;
  background-color: #1a712a;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second .drop-down {
  position: absolute;
  top: 0px;
  left: 100%;
  padding: 0px;
  transition: 0.6s;
}
header .wrapper .navbar .menu li.nested-drop-down .drop-down .nested-drop-down-second .drop-down li a {
  white-space: nowrap;
}
header .wrapper .navbar .menu li.active {
  font-weight: 900;
}
header .wrapper .navbar .menu li.active::after {
  max-width: 100%;
}
@media screen and (max-width: 744px) {
  header .wrapper .navbar .menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 744px) {
  header .wrapper .navbar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: -200px;
    top: 98%;
    background-color: #fff;
    min-width: 372px;
    padding: 24px 0px 24px 24px;
    border-bottom: 1px solid #a2d0ab;
    transition: 0.6s;
  }
}
@media screen and (max-width: 744px) {
  header .wrapper .navbar.active {
    left: 0px;
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
  }
  header .wrapper .navbar.active .menu {
    align-items: flex-start;
    gap: 24px;
  }
  header .wrapper .navbar.active .menu li .menu-item {
    padding-bottom: 16px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down a.menu-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down a.menu-item::after {
    content: "";
    display: inline-block;
    background-image: url("../images/icons/arrow-right-slider.svg");
    background-position: center;
    width: 16px;
    height: 16px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down {
    display: none;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active {
    display: block;
    visibility: visible;
    opacity: 1;
    position: static;
    padding-top: 0px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li {
    background-color: #fff;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li a {
    padding: 10px 0px 10px 24px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second:hover a.menu-item {
    color: #3d3d3d;
    background-color: #fff;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second a.menu-item {
    font-family: "encode_sans_expandedregular", "sans serif";
    gap: 4px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second a.menu-item::after {
    content: "";
    display: inline-block;
    background-image: url("../images/icons/arrow-right-slider.svg");
    background-position: center;
    width: 16px;
    height: 16px;
    transform: rotate(0deg);
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second.active a.menu-item {
    color: #3d3d3d;
    background-color: #fff;
    font-family: "cera_probold", "sans serif";
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second.active a.menu-item::after {
    transform: rotate(90deg);
  }
  header .wrapper .navbar.active .menu li.nested-drop-down .drop-down.active li.nested-drop-down-second.active .drop-down.active {
    padding-left: 24px;
  }
  header .wrapper .navbar.active .menu li.nested-drop-down.active a.menu-item {
    font-family: "cera_probold", "sans serif";
  }
  header .wrapper .navbar.active .menu li.nested-drop-down.active a.menu-item::after {
    transform: rotate(90deg);
  }
  header .wrapper .navbar.active .menu li.nested-drop-down.active::after {
    display: none;
  }
}
header .wrapper .menu-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 18px;
}
header .wrapper .menu-container .search-btn {
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/search-dark.svg");
}
header .wrapper .menu-container .cart-btn {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/cart-dark.svg");
  position: relative;
}
header .wrapper .menu-container .cart-btn .amount-goods {
  position: absolute;
  top: -2px;
  right: -8px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 12.57px;
  box-sizing: content-box;
  padding: 1px;
  background-color: #46a358;
  color: #fff;
  border-radius: 100%;
  border: 2px solid #fff;
  font-size: 10px;
  font-weight: 500;
  font-family: "cera_promedium", "sans serif";
}
header .wrapper .menu-container .search-btn,
header .wrapper .menu-container .cart-btn {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.6s;
}
header .wrapper .menu-container .search-btn:hover,
header .wrapper .menu-container .cart-btn:hover {
  transform: scale(120%);
}
header .wrapper .menu-container .log-in-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: "cera_promedium", "sans serif";
  padding: 8px 17px;
}
header .wrapper .menu-container .log-in-btn .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke: #fff;
  margin-right: 4px;
  transition: 0.6s;
}
header .wrapper .menu-container .log-in-btn:hover .icon {
  stroke: #46a358;
}
@media screen and (max-width: 744px) {
  header .wrapper {
    padding: 6px 24px;
  }
  header .wrapper .logo-box,
  header .wrapper .menu-container {
    margin: 0px;
  }
}
main .main-banner {
  margin-bottom: 46px;
}
main .main-banner .wrapper {
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-banner .wrapper .content-container {
  box-sizing: content-box;
  max-width: 557px;
  padding-left: 40px;
}
main .main-banner .wrapper .content-container .greeting {
  font-family: "cera_promedium", "sans serif";
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px;
}
main .main-banner .wrapper .content-container .title {
  font-family: "cera_problack", "sans serif";
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
}
main .main-banner .wrapper .content-container .title span {
  color: #46a358;
}
main .main-banner .wrapper .content-container .text {
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
}
main .main-banner .wrapper .content-container .btn {
  text-transform: uppercase;
}
@media screen and (max-width: 744px) {
  main .main-banner .wrapper .content-container {
    padding-left: 72px;
    max-width: 326px;
  }
  main .main-banner .wrapper .content-container .title {
    font-size: 42px;
    margin-bottom: 12px;
  }
  main .main-banner .wrapper .content-container .text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}
main .main-banner .wrapper img {
  display: block;
}
@media screen and (max-width: 744px) {
  main .main-banner .wrapper img {
    width: 354px;
    height: 324px;
  }
}
@media screen and (max-width: 744px) {
  main .main-banner {
    margin-bottom: 40px;
  }
}
main .catalog {
  margin-bottom: 146px;
  position: relative;
}
main .catalog .wrapper {
  display: flex;
  gap: 50px;
}
main .catalog .wrapper .left-side {
  background-color: #fbfbfb;
  padding-top: 14px;
  max-width: 310px;
  transition: 0.6s;
}
main .catalog .wrapper .left-side .title {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 25px;
  padding-left: 18px;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .left-side .title {
    margin-bottom: 16px;
  }
}
main .catalog .wrapper .left-side .categories-list {
  padding: 0px 22px 0px 30px;
}
main .catalog .wrapper .left-side .categories-list li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 30px;
}
main .catalog .wrapper .left-side .categories-list li .categories-item {
  color: #3d3d3d;
  line-height: 140%;
  font-size: 15px;
  transition: 0.4s;
}
main .catalog .wrapper .left-side .categories-list li .amount {
  display: block;
  color: #3d3d3d;
  font-size: 15px;
}
main .catalog .wrapper .left-side .categories-list li:hover {
  font-weight: 700;
  color: #46a358;
}
main .catalog .wrapper .left-side .categories-list li:hover .categories-item,
main .catalog .wrapper .left-side .categories-list li:hover .amount {
  font-weight: 700;
  color: #46a358;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .left-side .categories-list li {
    margin-bottom: 16px;
  }
}
main .catalog .wrapper .left-side .categories-container {
  margin-bottom: 40px;
}
main .catalog .wrapper .left-side .price-container {
  margin-bottom: 46px;
}
main .catalog .wrapper .left-side .price-container .categories-list li {
  margin-bottom: 15px;
  cursor: initial;
}
main .catalog .wrapper .left-side .price-container .title {
  margin-bottom: 25px;
}
main .catalog .wrapper .left-side .price-container .progress-container {
  width: 200px;
  height: 15px;
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: rgba(70, 163, 88, 0.2);
  position: relative;
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar .range {
  position: absolute;
  background-color: #46a358;
  border-radius: 10px;
  width: 160px;
  height: 4px;
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar .marker {
  cursor: pointer;
  position: absolute;
  top: -5px;
  background-color: #46a358;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border: 3px solid white;
  transition: 0.4s;
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar .marker:hover {
  transform: scale(130%);
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar .marker.min-price {
  left: 0px;
}
main .catalog .wrapper .left-side .price-container .progress-container .progress-bar .marker.max-price {
  left: 155px;
}
main .catalog .wrapper .left-side .price-container .price {
  margin-bottom: 10px;
  color: #3d3d3d;
  font-size: 15px;
  transition: 0.4s;
}
main .catalog .wrapper .left-side .price-container .price .price-range {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  color: #46a358;
  margin-left: 5px;
}
main .catalog .wrapper .left-side .price-container .btn:hover {
  background-color: #cceb34;
  color: #3d3d3d;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .left-side .price-container {
    margin-bottom: 40px;
  }
}
main .catalog .wrapper .left-side .size-container {
  margin-bottom: 30px;
}
main .catalog .wrapper .left-side .sale-container img.banner {
  display: block;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .left-side {
    position: absolute;
    top: 46px;
    left: 24px;
    z-index: 5;
    min-width: 328px;
    border-bottom: 1px solid #a2d0ab;
    border-radius: 6px 6px 0 0;
    visibility: hidden;
    opacity: 0;
  }
  main .catalog .wrapper .left-side .sale-container {
    display: none;
  }
}
main .catalog .wrapper .left-side.active {
  visibility: visible;
  opacity: 1;
}
main .catalog .wrapper .right-side {
  max-width: 840px;
}
main .catalog .wrapper .right-side .filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
main .catalog .wrapper .right-side .filter-container .filter-btn {
  display: none;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .filter-container .filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #f9f9f9;
    color: #3d3d3d;
    border-radius: 6px;
    padding: 8px 0px;
    min-width: 152px;
    margin-right: 68px;
  }
  main .catalog .wrapper .right-side .filter-container .filter-btn:active {
    border: 1px solid #46a358;
  }
  main .catalog .wrapper .right-side .filter-container .filter-btn::before {
    content: "";
    display: inline-block;
    background-image: url("../images/icons/filter-icon.svg");
    background-position: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
main .catalog .wrapper .right-side .filter-container ul {
  display: flex;
  gap: 40px;
}
main .catalog .wrapper .right-side .filter-container ul li .filter-item {
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  padding-bottom: 7px;
  margin-top: 12px;
  transition: 0.4s;
}
main .catalog .wrapper .right-side .filter-container ul li::after {
  content: "";
  display: inline-block;
  background-image: url(none);
  background-position: center;
  width: initial;
  height: 2px;
  display: block;
  max-width: 0%;
  background-color: #46a358;
  transition: max-width 0.6s, background-color 0.6s ease-out;
}
main .catalog .wrapper .right-side .filter-container ul li:not(.active):hover::after {
  max-width: 100%;
  background-color: #baffc8;
}
main .catalog .wrapper .right-side .filter-container ul li.active {
  font-weight: 700;
  color: #46a358;
}
main .catalog .wrapper .right-side .filter-container ul li.active::after {
  max-width: 100%;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .filter-container ul {
    gap: 32px;
    margin-right: 84px;
  }
}
main .catalog .wrapper .right-side .filter-container .filter-setting {
  margin-top: 12px;
}
main .catalog .wrapper .right-side .filter-container .filter-setting .title-sorting {
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
}
@media screen and (max-width: 830px) {
  main .catalog .wrapper .right-side .filter-container .filter-setting .title-sorting {
    display: none;
  }
}
main .catalog .wrapper .right-side .filter-container .filter-setting .opt-sorting {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-left: 8px;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
main .catalog .wrapper .right-side .filter-container .filter-setting .opt-sorting::after {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/arrow-down-bottom-dark.svg");
  background-position: center;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .filter-container {
    margin-bottom: 24px;
  }
}
main .catalog .wrapper .right-side .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px 33px;
  margin-bottom: 90px;
}
main .catalog .wrapper .right-side .cards-container .card {
  border-top: 1px solid transparent;
  transition: all 0.6s;
}
main .catalog .wrapper .right-side .cards-container .card:hover {
  border-top: 1px solid #46a358;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container {
  background-color: #fbfbfb;
  margin-bottom: 12px;
  width: 258px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 7px;
  width: 100%;
  transition: all 0.6s;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .cart,
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .favorites,
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .search {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .cart {
  background-image: url("../images/icons/cart-dark-for-card.svg");
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .cart:hover, main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .cart:active {
  background-image: url("../images/icons/cart-green.svg");
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .favorites {
  background-image: url("../images/icons/favorites-dark.svg");
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .favorites:hover, main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .favorites:active {
  background-image: url("../images/icons/favorites-green.svg");
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .search {
  background-image: url("../images/icons/search-dark.svg");
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .search:hover, main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .search:active {
  background-image: url("../images/icons/search-green.svg");
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container {
    visibility: visible;
    opacity: 1;
    gap: 9px;
    bottom: 6px;
  }
  main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .cart,
  main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .favorites,
  main .catalog .wrapper .right-side .cards-container .card .picture-container .icons-container .search {
    width: 36px;
    height: 36px;
  }
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .percent-sale {
  position: absolute;
  top: 14px;
  left: 0px;
  padding: 7px 9px;
  background-color: #46a358;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .percent-sale span {
  font-family: "cera_promedium", "sans serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
main .catalog .wrapper .right-side .cards-container .card .picture-container .picture {
  display: block;
  width: 100%;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .cards-container .card .picture-container {
    width: 152px;
    height: 256px;
  }
  main .catalog .wrapper .right-side .cards-container .card .picture-container .picture {
    width: inherit;
    height: 152px;
  }
}
main .catalog .wrapper .right-side .cards-container .card .name {
  font-size: 16px;
  color: #3d3d3d;
  margin-bottom: 6px;
}
main .catalog .wrapper .right-side .cards-container .card .costs {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358;
}
main .catalog .wrapper .right-side .cards-container .card .costs .sale {
  font-family: "cera_proregular", "sans serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  color: #a5a5a5;
  text-decoration: line-through;
  margin-left: 16px;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .cards-container {
    gap: 32px 24px;
  }
}
main .catalog .wrapper .right-side .cards-container .super-sale-banner-mobile {
  display: none;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .cards-container .super-sale-banner-mobile {
    display: block;
  }
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .cards-container {
    margin-bottom: 32px;
  }
}
main .catalog .wrapper .right-side .pagination-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
main .catalog .wrapper .right-side .pagination-container .pagination-item {
  padding: 10px 14px;
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-family: "cera_prolight", "sans serif";
  transition: 0.4s;
}
main .catalog .wrapper .right-side .pagination-container .pagination-item:hover {
  border-color: #46a358;
  background-color: #d1f9d9;
}
main .catalog .wrapper .right-side .pagination-container .pagination-item.active {
  background-color: #46a358;
  border-color: #46a358;
  color: #fff;
  font-weight: 700;
}
main .catalog .wrapper .right-side .pagination-container .pagination-item.arrow-button {
  background-image: url("../images/icons/arrow-short-right-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
main .catalog .wrapper .right-side .pagination-container .pagination-item.arrow-button span {
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper .right-side .pagination-container {
    justify-content: center;
  }
}
@media screen and (max-width: 744px) {
  main .catalog .wrapper {
    padding: 0 38px 0 24px;
  }
}
@media screen and (max-width: 744px) {
  main .catalog {
    margin-bottom: 132px;
  }
}
main .additional-offers {
  margin-bottom: 138px;
}
main .additional-offers .wrapper {
  display: flex;
  gap: 28px;
}
main .additional-offers .wrapper article {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}
main .additional-offers .wrapper article img {
  display: block;
  position: relative;
  top: -50px;
  left: 0;
}
main .additional-offers .wrapper article .content-container {
  padding-right: 11px;
  text-align: right;
}
main .additional-offers .wrapper article .content-container .title {
  font-family: "cera_problack", "sans serif";
  font-weight: 900;
  font-size: 18px;
  color: #3d3d3d;
  text-transform: uppercase;
  line-height: 133%;
  text-align: right;
  margin-bottom: 9px;
}
main .additional-offers .wrapper article .content-container .text {
  color: #727272;
  line-height: 171%;
  margin-bottom: 25px;
}
main .additional-offers .wrapper article .content-container .btn {
  display: inline-flex;
  align-items: center;
  font-family: "cera_promedium", "sans serif";
  font-weight: 500;
}
main .additional-offers .wrapper article .content-container .btn .icon {
  display: inline-block;
  align-self: end;
  width: 18px;
  height: 18px;
  stroke: #fff;
  transition: 0.6s;
}
main .additional-offers .wrapper article .content-container .btn:hover .icon {
  stroke: #46a358;
}
@media screen and (max-width: 744px) {
  main .additional-offers .wrapper article {
    flex-direction: column;
  }
  main .additional-offers .wrapper article .content-container {
    display: flex;
    flex-direction: column;
    padding: 0px 22px 39px 22px;
  }
  main .additional-offers .wrapper article .content-container .title {
    margin-bottom: 16px;
  }
  main .additional-offers .wrapper article .content-container .title,
  main .additional-offers .wrapper article .content-container .text {
    text-align: center;
  }
  main .additional-offers .wrapper article .content-container .btn {
    align-self: center;
  }
}
@media screen and (max-width: 744px) {
  main .additional-offers .wrapper {
    padding: 0 24px 0;
    gap: 24px;
  }
}
@media screen and (max-width: 744px) {
  main .additional-offers {
    margin-bottom: 80px;
  }
}
main .blog-posts {
  text-align: center;
  margin-bottom: 100px;
}
main .blog-posts .wrapper .title {
  font-size: 30px;
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 53%;
  color: #3d3d3d;
}
main .blog-posts .wrapper .description {
  margin-bottom: 35px;
  color: #727272;
  line-height: 171%;
}
@media screen and (max-width: 744px) {
  main .blog-posts .wrapper .description {
    margin-bottom: 24px;
  }
}
main .blog-posts .wrapper .article-container {
  display: flex;
  justify-content: space-between;
}
main .blog-posts .wrapper .article-container .card {
  background-color: #fbfbfb;
  max-width: 268px;
}
main .blog-posts .wrapper .article-container .card .card-content {
  text-align: left;
  padding: 9px 22px 12px 15px;
}
main .blog-posts .wrapper .article-container .card .card-content .about {
  color: #46a358;
  font-family: "cera_promedium", "sans serif";
  font-weight: 500;
  margin-bottom: 4px;
}
main .blog-posts .wrapper .article-container .card .card-content .title {
  font-size: 20px;
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  line-height: 114%;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
}
main .blog-posts .wrapper .article-container .card .card-content .text {
  color: #727272;
  margin-bottom: 9px;
  line-height: 157%;
}
main .blog-posts .wrapper .article-container .card .card-content .btn {
  display: inline-flex;
  align-items: center;
  font-family: "cera_promedium", "sans serif";
  font-weight: 500;
  color: #3d3d3d;
  transition: 0.6s;
}
main .blog-posts .wrapper .article-container .card .card-content .btn .icon {
  display: inline-block;
  align-self: end;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  fill: #3d3d3d;
  transition: 0.6s;
}
main .blog-posts .wrapper .article-container .card .card-content .btn:hover {
  color: #46a358;
}
main .blog-posts .wrapper .article-container .card .card-content .btn:hover .icon {
  fill: #46a358;
}
main .blog-posts .wrapper .article-container .card img {
  display: block;
}
@media screen and (max-width: 744px) {
  main .blog-posts .wrapper .article-container.owl-carousel .owl-nav {
    display: block;
  }
  main .blog-posts .wrapper .article-container.owl-carousel .owl-nav button {
    position: absolute;
    bottom: 171px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .blog-posts .wrapper .article-container.owl-carousel .owl-nav button:active {
    stroke: #46a358;
  }
  main .blog-posts .wrapper .article-container.owl-carousel .owl-nav button.owl-prev {
    left: -42px;
    background-image: url("../images/icons/arrow-left-slider.svg");
  }
  main .blog-posts .wrapper .article-container.owl-carousel .owl-nav button.owl-next {
    right: -42px;
    background-image: url("../images/icons/arrow-right-slider.svg");
  }
}
@media screen and (max-width: 744px) {
  main .blog-posts .wrapper {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 744px) {
  main .blog-posts .wrapper {
    position: relative;
    padding: 0px 92px 0px 92px;
  }
}
main .about-us .wrapper {
  display: flex;
  background-color: #fbfbfb;
  padding: 30px 0px 24px 0px;
}
main .about-us .wrapper .kind-of-favor {
  padding: 0px 34px 0px 23px;
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}
main .about-us .wrapper .kind-of-favor img {
  display: block;
  margin-bottom: 17px;
}
main .about-us .wrapper .kind-of-favor .title {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}
main .about-us .wrapper .kind-of-favor .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
}
main .about-us .wrapper .kind-of-favor:last-of-type {
  border-right: 1px solid transparent;
}
@media screen and (max-width: 744px) {
  main .about-us .wrapper .kind-of-favor {
    max-width: 222px;
  }
  main .about-us .wrapper .kind-of-favor img {
    margin: auto;
    margin-bottom: 16px;
  }
  main .about-us .wrapper .kind-of-favor .title,
  main .about-us .wrapper .kind-of-favor .text {
    text-align: center;
  }
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container {
  padding-left: 35px;
  padding-right: 25px;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container .title {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 18px;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container .text {
  font-weight: 400;
  font-size: 13px;
  line-height: 169%;
  color: #727272;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container form {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container .join {
  display: block;
  height: 40px;
  padding: 12px 26px;
  cursor: pointer;
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0 6px 6px 0;
  background-color: #46a358;
  transition: 0.4s;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px;
  border-radius: 6px 0px 0px 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  border: none;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #acacac;
}
main .about-us .wrapper .wrapper-subscribe .subscribe-container input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #acacac;
}
@media screen and (max-width: 744px) {
  main .about-us .wrapper .wrapper-subscribe .subscribe-container {
    max-width: 354px;
    margin: auto;
    padding: initial;
  }
  main .about-us .wrapper .wrapper-subscribe .subscribe-container .title,
  main .about-us .wrapper .wrapper-subscribe .subscribe-container .text {
    text-align: center;
  }
  main .about-us .wrapper .wrapper-subscribe .subscribe-container .text {
    line-height: 157%;
  }
}
@media screen and (max-width: 744px) {
  main .about-us .wrapper .wrapper-subscribe {
    background-color: #fbfbfb;
    width: 100%;
    order: -1;
    padding: 25px 0px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 744px) {
  main .about-us .wrapper {
    background-color: #fff;
    flex-wrap: wrap;
    padding: 0px 33px 0px;
  }
}
main .contacts .wrapper {
  display: flex;
  background-color: #fbfbfb;
  padding: 30px 0px 24px 0px;
}
main .contacts .wrapper .contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 23px 19px;
  background: linear-gradient(to right, #edf6ef 0%, #52c368 100%);
}
main .contacts .wrapper .contacts-container .logo-box {
  display: flex;
  align-items: center;
}
main .contacts .wrapper .contacts-container .contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  transition: 0.6s;
}
main .contacts .wrapper .contacts-container .contact:hover {
  transform: scale(110%);
}
main .contacts .wrapper .contacts-container .contact.address::before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/location.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
main .contacts .wrapper .contacts-container .contact.email::before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/email.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
main .contacts .wrapper .contacts-container .contact.phone::before {
  content: "";
  display: inline-block;
  background-image: url("../images/icons/phone.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
@media screen and (max-width: 744px) {
  main .contacts .wrapper .contacts-container {
    flex-wrap: wrap;
    padding: 24px 74px;
  }
  main .contacts .wrapper .contacts-container .logo-box {
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
  }
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 33px 155px 29px 25px;
  background-color: #fbfbfb;
  margin-bottom: 6px;
}
footer .wrapper .title {
  font-family: "cera_probold", "sans serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
}
footer .wrapper .group-categories .title {
  margin-bottom: 8px;
}
footer .wrapper .group-categories .category {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
  margin-bottom: 8px;
  transition: 0.4s;
}
footer .wrapper .group-categories .category:hover {
  color: #46a358;
}
footer .wrapper .social-media-container .title:first-of-type {
  margin-bottom: 20px;
}
footer .wrapper .social-media-container .title:last-of-type {
  margin-bottom: 13px;
}
footer .wrapper .social-media-container ul {
  display: flex;
  gap: 10px;
  margin-bottom: 33px;
}
footer .wrapper .social-media-container ul li .social-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.6s;
}
footer .wrapper .social-media-container ul li .social-link:hover {
  transform: scale(120%);
}
footer .wrapper .social-media-container ul li:nth-child(1) .social-link {
  background-image: url("../images/icons/facebook.svg");
}
footer .wrapper .social-media-container ul li:nth-child(2) .social-link {
  background-image: url("../images/icons/instagram.svg");
}
footer .wrapper .social-media-container ul li:nth-child(3) .social-link {
  background-image: url("../images/icons/twitter.svg");
}
footer .wrapper .social-media-container ul li:nth-child(4) .social-link {
  background-image: url("../images/icons/linkedin.svg");
}
footer .wrapper .social-media-container ul li:nth-child(5) .social-link {
  background-image: url("../images/icons/youtube.svg");
}
@media screen and (max-width: 744px) {
  footer .wrapper {
    flex-wrap: wrap;
    padding: 40px 100px 48px;
    margin-bottom: 16px;
  }
  footer .wrapper .group-categories {
    margin-bottom: 40px;
  }
  footer .wrapper .social-media-container {
    display: flex;
    gap: 132px;
  }
}
footer .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (max-width: 744px) {
  footer .copyright {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=styles.css.map */