@use 'preloader';
@use 'fonts' as *;
@use 'variables' as *;
@use 'registration' as *;
@use 'mobile_menu' as *;

html {
  font-size: 14px;
  font-weight: 400;
  font-family: $primaryFontRegular;
}
.wrapper {
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 360px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visible-selector {
  visibility: visible;
  opacity: 1;
}
.hidden-selector {
  visibility: hidden;
  opacity: 0;
}
.mobile-wrapper {
  display: none;
}

header {
  margin-bottom: 12px;
  position: relative;

  .wrapper {
    @include flex_AlignBooth(space-between, center);
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-top: 5px;

    .logo-container {
      .burger-menu {
        display: none;

        @media screen and (max-width: 870px) {
          display: block;
        }
      }
      .logo-box {
        @include flex_verticalAlign(center);
        gap: 5px;
        margin-bottom: 18px;

        img {
          display: block;
        }

        @media screen and (max-width: 870px) {
          margin-bottom: 0px;
        }
      }
    }

    .navbar {
      padding-top: 20px;
      transition: 0.6s;

      form[name='search'] {
        display: none;
      }

      .menu {
        @include flex_verticalAlign(center);
        gap: 50px;
        transition: 0.6s;

        > li {
          &::after {
            @include before_after(false, initial, 3px);
            display: block;
            max-width: 0%;
            transition: max-width 0.6s, background-color 0.6s ease-out;
            background-color: $mainColor;
          }
          &:hover {
            &:not(.active) {
              &::after {
                background-color: #baffc8;
                max-width: 100%;
              }
            }
          }
          .menu-item {
            font-size: 16px;
            padding-bottom: 35px;
            color: $darkColor;
          }
        }
        li.nested-drop-down {
          position: relative;

          &:hover {
            .drop-down {
              @extend .visible-selector;
            }
          }
          .drop-down {
            @extend .hidden-selector;
            font-size: 16px;
            color: $darkColor;
            padding-top: 16px;
            position: absolute;
            top: 51px;
            transition: 0.6s;

            li {
              background-color: #edf6ee;

              a {
                font-family: $secondaryFontRegular;
                padding: 8px 14px;
                font-weight: 400;
                font-size: 16px;
                color: $darkColor;
                width: 100%;
              }
              a.menu-item {
                @include flex_verticalAlign(center);
                gap: 82px;
                padding-right: 17px;

                &::after {
                  @include before_after('../images/icons/arrow-right-dark-small.svg', 6px, 10px);
                  background-size: contain;
                  background-repeat: no-repeat;
                  transition: 0.6s;
                }
              }
              &:hover {
                a {
                  color: #fff;
                  background-color: #1a712a;
                }
              }
              &:has(ul.drop-down:hover) a.menu-item::after {
                background-image: url('../images/icons/arrow-left-white-small.svg');
              }
            }
            .nested-drop-down-second {
              position: relative;

              &:hover {
                a.menu-item {
                  &::after {
                    background-image: url('../images/icons/arrow-right-white-small.svg');
                  }
                }
                ul {
                  li {
                    a {
                      color: $darkColor;
                      background-color: inherit;
                    }
                  }
                }
                .drop-down {
                  @extend .visible-selector;
                }
              }
              ul {
                li {
                  &:hover {
                    a {
                      color: #fff;
                      background-color: #1a712a;
                    }
                  }
                }
              }
              .drop-down {
                @extend .hidden-selector;
                position: absolute;
                top: 0px;
                left: 100%;
                padding: 0px;
                transition: 0.6s;

                li {
                  a {
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        li.active {
          font-weight: 900;

          &::after {
            max-width: 100%;
          }
        }
        @media screen and (max-width: 870px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;

          li {
            .menu-item {
              padding-bottom: 16px;
            }
          }
        }

        @media screen and (max-width: 650px) {
          border-bottom: 1px solid rgba(70, 163, 88, 0.1);
          padding-bottom: 16px;
          margin-bottom: 40px;
        }
      }
      .log-in-btn {
        display: none;

        @media screen and (max-width: 650px) {
          @include log-in-btn();
          display: inline-flex;
        }
      }
      @media screen and (max-width: 870px) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 10;
        left: -200px;
        top: 98%;
        background-color: #fff;
        min-width: 372px;
        padding: 24px;
        border-bottom: 1px solid #a2d0ab;
        transition: 0.6s;
      }
      @media screen and (max-width: 650px) {
        form[name='search'] {
          display: block;
          margin-bottom: 24px;
        }
      }
    }
    .navbar.active {
      @media screen and (max-width: 870px) {
        left: 0px;
        visibility: visible;
        opacity: 1;

        .menu {
          li.nested-drop-down {
            a.menu-item {
              @include flex_verticalAlign(center);
              gap: 4px;

              &::after {
                @include before_after('../images/icons/arrow-right-slider.svg', 16px);
              }
            }
            .drop-down {
              display: none;
            }
            .drop-down.active {
              display: block;
              visibility: visible;
              opacity: 1;
              position: static;
              padding-top: 0px;

              li {
                background-color: #fff;
                a {
                  padding: 10px 0px 10px 24px;
                }
              }
              li.nested-drop-down-second {
                &:hover {
                  a.menu-item {
                    color: $darkColor;
                    background-color: #fff;
                  }
                }
                a.menu-item {
                  font-family: $secondaryFontRegular;
                  gap: 4px;

                  &::after {
                    @include before_after('../images/icons/arrow-right-slider.svg', 16px);
                    transform: rotate(0deg);
                  }
                }
              }
              li.nested-drop-down-second.active {
                a.menu-item {
                  color: $darkColor;
                  background-color: #fff;
                  font-family: $primaryFontBold;

                  &::after {
                    transform: rotate(90deg);
                  }
                }
                .drop-down.active {
                  padding-left: 24px;
                }
              }
            }
          }
          li.nested-drop-down.active {
            a.menu-item {
              font-family: $primaryFontBold;

              &::after {
                transform: rotate(90deg);
              }
            }
            &::after {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width: 650px) {
        form {
          position: relative;

          .search {
            display: block;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            padding: 12px 40px 12px 12px;
            width: 100%;
          }
          .search::placeholder {
            font-family: $primaryFontRegular;
            line-height: 16;
            color: #a5a5a5;
          }
          .search-btn {
            background-image: url('../images/icons/search-dark.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 12px;
            right: 12px;
          }
        }
      }
      @media screen and (max-width: 460px) {
        right: 0px;
        border-bottom-color: transparent;
        width: 100%;
      }
    }

    .menu-container {
      @include flex_verticalAlign(center);
      gap: 30px;
      margin-bottom: 18px;
      position: relative;

      .search-box {
        display: flex;
        align-items: center;

        .search-box-input {
          position: relative;
          right: -32px;
          width: 0px;
          color: #3d3d3d;
          background-color: #eee;
          font-family: $primaryFontRegular;
          padding: 6px 12px;
          transition: 0.7s;
          border-radius: 50px;
          border: 1px solid rgba(70, 163, 88, 0.1);
          opacity: 0;
          visibility: hidden;

          &::placeholder {
            font-family: $primaryFontRegular;
            color: #3d3d3d;
            opacity: 0.7;
          }
          @media screen and (max-width: 540px) {
            display: none;
          }
        }
        .search-btn {
          width: 20px;
          height: 20px;
          background-image: url('../images/icons/search-dark.svg');
          z-index: 11;
          position: relative;
        }
        &:hover {
          .search-box-input {
            width: 340px;
            opacity: 1;
            visibility: visible;
          }
        }
        @media screen and (max-width: 1080px) {
          &:hover {
            .search-box-input {
              width: 260px;
            }
          }
        }
        @media screen and (max-width: 700px) {
          &:hover {
            .search-box-input {
              width: 240px;
            }
          }
        }
      }

      .cart-btn {
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/cart-dark.svg');
        position: relative;

        .amount-goods {
          position: absolute;
          top: -2px;
          right: -8px;
          width: 12px;
          height: 12px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 12.57px;
          box-sizing: content-box;
          padding: 1px;
          background-color: $mainColor;
          color: #fff;
          border-radius: 100%;
          border: 2px solid #fff;
          font-size: 10px;
          font-weight: 500;
          font-family: $primaryFontMedium;
        }
      }
      .search-btn,
      .cart-btn {
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.6s;

        &:hover {
          transform: scale(120%);
        }
      }

      .log-in-btn {
        @include green-btn;
        @include flex_verticalAlign(center);
        font-weight: 500;
        font-family: $primaryFontMedium;
        padding: 8px 17px;

        .icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          stroke: #fff;
          margin-right: 4px;
          transition: 0.6s;
        }
        &:hover {
          @include green-btn-hover;

          .icon {
            stroke: $mainColor;
          }
        }
        @media screen and (max-width: 650px) {
          display: none;
        }
      }
      @media screen and (max-width: 700px) {
        gap: 20px;
      }
    }
    @media screen and (max-width: 1020px) {
      &:has(.menu-container .search-box:hover) nav.navbar > ul.menu {
        margin-right: -20px;
      }
    }
    @media screen and (max-width: 1000px) {
      &:has(.menu-container .search-box:hover) nav.navbar > ul.menu {
        gap: 30px;
      }
    }
    @media screen and (max-width: 900px) {
      &:has(.menu-container .search-box:hover) nav.navbar > ul.menu {
        margin-right: -30px;
        gap: 20px;
      }
    }
    @media screen and (max-width: 870px) {
      padding: 6px 24px;

      .logo-box,
      .menu-container {
        margin: 0px;
      }
    }
    @media screen and (max-width: 460px) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}
main {
  .main-banner {
    margin-bottom: 46px;

    .wrapper {
      background: linear-gradient(
        135deg,
        rgba(245, 245, 245, 0.5) 0%,
        rgba(245, 245, 245, 0.5) 100%
      );
      @include flex_AlignBooth(space-between, center);

      .content-container {
        box-sizing: content-box;
        max-width: 557px;
        padding-left: 40px;

        .greeting {
          font-family: $primaryFontMedium;
          font-size: 14px;
          font-weight: 500;
          line-height: 114%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $darkColor;
          margin-bottom: 7px;
        }
        .title {
          font-family: $primaryFontBlack;
          font-weight: 900;
          font-size: 70px;
          line-height: 100%;
          text-transform: uppercase;
          color: $darkColor;
          margin-bottom: 5px;

          span {
            color: $mainColor;
          }
        }
        .text {
          line-height: 171%;
          color: $grayColor;
          margin-bottom: 44px;
        }

        .btn {
          @include green-btn;
          text-transform: uppercase;

          &:hover {
            @include green-btn-hover;
          }
        }
        @media screen and (max-width: 810px) {
          padding-left: 72px;
          max-width: 326px;

          .title {
            font-size: 42px;
            margin-bottom: 12px;
          }
          .text {
            font-size: 16px;
            line-height: 130%;
            margin-bottom: 20px;
          }
        }
      }

      img {
        display: block;

        @media screen and (max-width: 810px) {
          width: 354px;
          height: 324px;
        }
      }
      .main-banner-mobile {
        display: none;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        padding-bottom: 58px;

        .content-container {
          padding-left: initial;

          .btn {
            display: none;
          }
        }
        > img {
          display: none;
        }

        .main-banner-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;

          .btn {
            @include green-btn;
            text-transform: uppercase;

            &:hover {
              @include green-btn-hover;
            }
          }
        }
      }
    }
    @media screen and (max-width: 950px) {
      margin-bottom: 40px;
    }
  }
  .catalog {
    margin-bottom: 90px;
    position: relative;

    .wrapper {
      display: flex;
      gap: 50px;

      .left-side {
        background-color: $lightGrayBackgroundColor;
        padding-top: 14px;
        max-width: 310px;
        transition: 0.6s;

        .title {
          font-family: $primaryFontBold;
          font-weight: 700;
          font-size: 18px;
          line-height: 89%;
          color: $darkColor;
          margin-bottom: 25px;
          padding-left: 18px;

          @media screen and (max-width: 744px) {
            margin-bottom: 16px;
          }
        }
        .categories-list {
          padding: 0px 22px 0px 30px;

          li {
            @include flex_horizonAlign(space-between);
            cursor: pointer;
            margin-bottom: 30px;

            .categories-item {
              color: $darkColor;
              line-height: 140%;
              font-size: 15px;
              transition: 0.4s;
            }
            .amount {
              display: block;
              color: $darkColor;
              font-size: 15px;
            }

            &:hover {
              .categories-item,
              .amount {
                font-weight: 700;
                color: $mainColor;
              }
              font-weight: 700;
              color: $mainColor;
            }
            @media screen and (max-width: 744px) {
              margin-bottom: 16px;
            }
          }
        }
        .categories-container {
          margin-bottom: 40px;
        }
        .price-container {
          margin-bottom: 46px;

          .categories-list {
            li {
              margin-bottom: 15px;
              cursor: initial;

              .btn {
                &:hover {
                  @include green-btn-hover;
                }
              }
            }
          }

          .title {
            margin-bottom: 25px;
          }
          .progress-container {
            width: 200px;
            height: 15px;

            .progress-bar {
              width: 100%;
              height: 4px;
              border-radius: 10px;
              background-color: rgba(70, 163, 88, 0.2);
              position: relative;

              .range {
                position: absolute;
                background-color: $mainColor;
                top: 0;
                border-radius: 10px;
                height: 4px;
              }
              .marker[type='range'] {
                pointer-events: none;
                background: none;
                position: absolute;
                top: -8px;
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                transition: 0.4s;

                &::-webkit-slider-thumb {
                  pointer-events: all;
                  cursor: pointer;
                  box-sizing: content-box;
                  background: $mainColor;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 3px solid white;
                  -webkit-appearance: none;
                  appearance: none;
                  transition: 0.4s;

                  &:hover {
                    transform: scale(130%);
                  }
                }
                &::-moz-range-thumb {
                  pointer-events: all;
                  cursor: pointer;
                  box-sizing: content-box;
                  background: $mainColor;
                  border-radius: 50%;
                  width: 15px;
                  height: 15px;
                  border: 3px solid white;
                  appearance: none;
                  transition: 0.4s;

                  &:hover {
                    transform: scale(130%);
                  }
                }
              }
            }
          }
          .price {
            margin-bottom: 10px;
            color: #3d3d3d;
            font-size: 15px;
            transition: 0.4s;

            .price-content {
              font-family: $primaryFontBold;
              font-weight: 700;
              color: #46a358;
              margin-left: 5px;
            }
          }
          .btn {
            @include green-btn;

            &:hover {
              background-color: #cceb34;
              color: $darkColor;
            }
          }
          @media screen and (max-width: 744px) {
            margin-bottom: 40px;
          }
        }
        .size-container {
          margin-bottom: 30px;
        }
        .sale-container {
          img.banner {
            display: block;
          }
        }
        @media screen and (max-width: 744px) {
          position: absolute;
          top: 46px;
          left: 24px;
          z-index: 5;
          min-width: 328px;
          border-bottom: 1px solid #a2d0ab;
          border-radius: 6px 6px 0 0;
          visibility: hidden;
          opacity: 0;

          .sale-container {
            display: none;
          }
        }
        @media screen and (max-width: 640px) {
          left: 16px;
          top: 102px;
        }
      }
      .left-side.active {
        visibility: visible;
        opacity: 1;
      }
      .right-side {
        max-width: 840px;

        .filter-container {
          @include flex_horizonAlign(space-between);
          margin-bottom: 31px;

          .filter-btn {
            display: none;

            @media screen and (max-width: 744px) {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid transparent;
              background-color: #f9f9f9;
              color: $darkColor;
              border-radius: 6px;
              padding: 8px 0px;
              min-width: 152px;

              &:active {
                border: 1px solid $mainColor;
              }

              &::before {
                @include before_after('../images/icons/filter-icon.svg', 24px);
                margin-right: 8px;
              }
            }
            @media screen and (max-width: 640px) {
              margin-right: auto;
              order: 2;
            }
          }

          ul {
            display: flex;
            gap: 40px;

            li {
              .filter-item {
                font-size: 15px;
                line-height: 107%;
                color: $darkColor;
                padding-bottom: 7px;
                margin-top: 12px;
                transition: 0.4s;
              }
              &::after {
                @include before_after(false, initial, 2px);
                display: block;
                max-width: 0%;
                background-color: $mainColor;
                transition: max-width 0.6s, background-color 0.6s ease-out;
              }

              &:not(.active) {
                &:hover {
                  &::after {
                    max-width: 100%;
                    background-color: #baffc8;
                  }
                }
              }
            }
            li.active {
              font-weight: 700;
              color: $mainColor;

              &::after {
                max-width: 100%;
              }
            }
            @media screen and (max-width: 744px) {
              gap: 32px;
            }
            @media screen and (max-width: 640px) {
              order: 1;
              margin-right: initial;
              width: 100%;
              justify-content: center;
            }
          }
          .filter-setting {
            margin-top: 12px;
            text-align: center;
            display: flex;
            align-items: center;
            gap: 8px;

            .title-sorting {
              font-size: 15px;
              line-height: 107%;
              color: $darkColor;

              @media screen and (max-width: 830px) {
                display: none;
              }
            }
            .form-cards-sorting {
              .select-cards-sorting {
                option {
                  cursor: pointer;
                }
              }
              .ui-selectmenu-button.ui-button.ui-widget {
                border: 1px solid transparent;
                margin: initial;
                padding: initial;
                background-color: #fff;
                width: initial;
                font-family: $primaryFontRegular;
                font-size: 15px;
                display: inline-flex;
                align-items: center;
                gap: 5px;

                .ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
                  background-image: url('../images/icons/arrow-down-bottom-dark.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  order: 2;
                }
                .ui-selectmenu-text {
                  margin: initial;
                }
              }
            }

            // .opt-sorting {
            //   display: inline-flex;
            //   align-items: center;
            //   gap: 5px;
            //   margin-left: 8px;
            //   font-size: 15px;
            //   line-height: 107%;
            //   color: $darkColor;
            //   cursor: pointer;
            //   user-select: none;
            //   -webkit-user-select: none;

            //   &::after {
            //     @include before_after('../images/icons/arrow-down-bottom-dark.svg', 16px);
            //   }
            // }
            @media screen and (max-width: 640px) {
              order: 3;
            }
          }
          @media screen and (max-width: 744px) {
            margin-bottom: 24px;
          }
          @media screen and (max-width: 640px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px 0px;
            margin-bottom: 16px;
          }
        }

        .cards-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 70px 33px;
          margin-bottom: 90px;

          .card {
            border-top: 1px solid transparent;
            transition: all 0.6s;

            &:hover {
              border-top: 1px solid $mainColor;
            }
            .picture-container {
              background-color: $lightGrayBackgroundColor;
              margin-bottom: 12px;
              width: 258px;
              height: 300px;
              position: relative;
              display: flex;
              align-items: center;

              .icons-container {
                @extend .hidden-selector;
                @include flex_horizonAlign(center);
                gap: 10px;
                position: absolute;
                bottom: 7px;
                width: 100%;
                transition: all 0.6s;

                .cart,
                .favorites,
                .search {
                  width: 35px;
                  height: 35px;
                  background-color: white;
                  border-radius: 4px;
                  cursor: pointer;
                  user-select: none;
                  -webkit-user-select: none;
                  background-position: center;
                  background-repeat: no-repeat;
                  transition: all 0.6s;
                }
                .cart {
                  background-image: url('../images/icons/cart-dark-for-card.svg');

                  &:hover,
                  &:active {
                    background-image: url('../images/icons/cart-green.svg');
                  }
                }
                .favorites {
                  background-image: url('../images/icons/favorites-dark.svg');

                  &:hover,
                  &:active {
                    background-image: url('../images/icons/favorites-green.svg');
                  }
                }

                .search {
                  background-image: url('../images/icons/search-dark.svg');

                  &:hover,
                  &:active {
                    background-image: url('../images/icons/search-green.svg');
                  }
                }

                @media screen and (max-width: 744px) {
                  visibility: visible;
                  opacity: 1;
                  gap: 9px;
                  bottom: 6px;

                  .cart,
                  .favorites,
                  .search {
                    width: 36px;
                    height: 36px;
                  }
                }
              }

              &:hover {
                .icons-container {
                  @extend .visible-selector;
                }
              }

              .percent-sale {
                position: absolute;
                top: 14px;
                left: 0px;
                padding: 7px 9px;
                background-color: $mainColor;

                span {
                  font-family: $primaryFontMedium;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 100%;
                  color: #fff;
                  user-select: none;
                  -webkit-user-select: none;
                }
              }
              .picture {
                display: block;
                width: 100%;
              }

              @media screen and (max-width: 744px) {
                width: 152px;
                height: 256px;

                .picture {
                  width: inherit;
                  height: 152px;
                }
              }
            }
            .name {
              font-size: 16px;
              color: $darkColor;
              margin-bottom: 6px;
            }
            .costs {
              font-family: $primaryFontBold;
              font-weight: 700;
              font-size: 18px;
              line-height: 89%;
              color: $mainColor;

              .sale {
                font-family: $primaryFontRegular;
                font-weight: 400;
                font-size: 18px;
                line-height: 89%;
                color: #a5a5a5;
                text-decoration: line-through;
                margin-left: 16px;
              }
            }
            @media screen and (max-width: 360px) {
              &:first-child {
                order: -3;
              }
              &:nth-child(2) {
                order: -2;
              }
            }
          }

          .super-sale-banner-mobile {
            display: none;

            @media screen and (max-width: 744px) {
              display: block;
            }
            @media screen and (max-width: 360px) {
              order: -1;
            }
          }

          @media screen and (max-width: 744px) {
            gap: 20px 24px;
            margin-bottom: 32px;
          }
          @media screen and (max-width: 360px) {
            margin-bottom: 40px;
          }
        }

        .pagination-container {
          @include flex_horizonAlign(flex-end);
          gap: 10px;

          .pagination-item {
            padding: 10px 14px;
            font-weight: 300;
            font-size: 18px;
            line-height: 89%;
            color: $darkColor;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            font-family: $primaryFontLight;
            transition: 0.4s;

            &:hover {
              border-color: $mainColor;
              background-color: #d1f9d9;
            }
          }
          .pagination-item.active {
            background-color: $mainColor;
            border-color: $mainColor;
            color: #fff;
            font-weight: 700;
          }
          .pagination-item.arrow-button {
            background-image: url('../images/icons/arrow-short-right-dark.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 18px;

            span {
              @extend .hidden-selector;
              user-select: none;
              -webkit-user-select: none;
            }
          }
          @media screen and (max-width: 744px) {
            justify-content: center;
          }
        }
      }
      @media screen and (max-width: 1133px) {
        padding: 0px 48px;
      }
      @media screen and (max-width: 744px) {
        padding: 0px 24px;
      }
      @media screen and (max-width: 744px) {
        padding: 0px 16px;
      }
    }
    @media screen and (max-width: 744px) {
      margin-bottom: 80px;
    }
  }
  .additional-offers {
    margin-bottom: 138px;

    .wrapper {
      display: flex;
      gap: 28px;

      article {
        min-height: 310px;
        display: flex;
        align-items: flex-end;

        .container {
          @include flex_verticalAlign(center);
          background-color: $lightGrayBackgroundColor;
          gap: 80px;
          width: 100%;

          .img-container {
            width: 290px;
            height: 250px;
            position: relative;

            img {
              display: block;
              position: absolute;
              top: -50px;
              left: 0;
            }
          }
          .content-container {
            padding-right: 30px;
            text-align: right;

            .title {
              font-family: $primaryFontBlack;
              font-weight: 900;
              font-size: 18px;
              color: $darkColor;
              text-transform: uppercase;
              line-height: 133%;
              text-align: right;
              margin-bottom: 9px;
            }
            .text {
              color: $grayColor;
              line-height: 171%;
              margin-bottom: 25px;
            }
            .btn {
              @include green-btn;
              display: inline-flex;
              align-items: center;
              font-family: $primaryFontMedium;
              font-weight: 500;

              .icon {
                display: inline-block;
                align-self: end;
                width: 18px;
                height: 18px;
                stroke: #fff;
                transition: 0.6s;
              }

              &:hover {
                @include green-btn-hover;
                .icon {
                  stroke: $mainColor;
                }
              }
            }
            @media screen and (max-width: 655px) {
              padding: initial;
            }
          }
          @media screen and (max-width: 1060px) {
            flex-direction: column;
            gap: 32px;

            .content-container {
              display: flex;
              flex-direction: column;
              padding: 0px 22px 39px 22px;

              .title {
                margin-bottom: 16px;
              }
              .title,
              .text {
                text-align: center;
              }
              .btn {
                align-self: center;
              }
            }
          }
          @media screen and (max-width: 655px) {
            padding: 0px 34px;
            background-color: #fbfbfb;
          }
        }

        @media screen and (max-width: 1060px) {
          min-height: 550px;
        }
        @media screen and (max-width: 655px) {
          min-height: 580px;
        }
      }
      @media screen and (max-width: 1060px) {
        padding: 0 24px 0;
        gap: 24px;
      }
      @media screen and (max-width: 655px) {
        padding: initial;
        gap: initial;
        position: relative;

        .owl-nav {
          @include owl-nav;

          button {
            bottom: 50%;
          }

          button.owl-prev {
            left: 6%;
          }
          button.owl-next {
            right: 6%;
          }
        }
      }
    }
    @media screen and (max-width: 1060px) {
      margin-bottom: 80px;
    }
  }
  .blog-posts {
    text-align: center;
    margin-bottom: 100px;

    .wrapper {
      .title {
        font-size: 30px;
        font-family: $primaryFontBold;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 53%;
        color: $darkColor;
      }
      .description {
        margin-bottom: 35px;
        color: $grayColor;
        line-height: 171%;

        @media screen and (max-width: 744px) {
          margin-bottom: 24px;
        }
      }
      .article-container {
        @include flex_horizonAlign(space-between);

        .card {
          background-color: $lightGrayBackgroundColor;
          width: 268px;

          .card-content {
            text-align: left;
            padding: 9px 22px 12px 15px;

            .about {
              color: $mainColor;
              font-family: $primaryFontMedium;
              font-weight: 500;
              margin-bottom: 4px;
            }
            .title {
              font-size: 20px;
              font-family: $primaryFontBold;
              font-weight: 700;
              line-height: 114%;
              line-height: 130%;
              color: $darkColor;
              margin-bottom: 4px;
            }

            .text {
              color: $grayColor;
              margin-bottom: 9px;
              line-height: 157%;
            }

            .btn {
              display: inline-flex;
              align-items: center;
              font-family: $primaryFontMedium;
              font-weight: 500;
              color: $darkColor;
              transition: 0.6s;

              .icon {
                display: inline-block;
                align-self: end;
                width: 16px;
                height: 16px;
                margin-left: 4px;
                fill: $darkColor;
                transition: 0.6s;
              }

              &:hover {
                color: $mainColor;

                .icon {
                  fill: $mainColor;
                }
              }
            }
          }
          img {
            display: block;
          }
        }
      }
      .article-container.owl-carousel {
        position: relative;

        @media screen and (max-width: 1200px) {
          .owl-nav {
            @include owl-nav;

            button.owl-prev {
              left: -43px;
            }
            button.owl-next {
              right: -43px;
            }
          }
        }
        @media screen and (max-width: 980px) {
          .owl-nav {
            button.owl-prev {
              left: -23px;
            }
            button.owl-next {
              right: -23px;
            }
          }
        }
        @media screen and (max-width: 910px) {
          .owl-nav {
            button.owl-prev {
              left: -43px;
            }
            button.owl-next {
              right: -43px;
            }
          }
        }
        @media screen and (max-width: 660px) {
          .owl-nav {
            button.owl-prev {
              left: -23px;
            }
            button.owl-next {
              right: -23px;
            }
          }
        }
        @media screen and (max-width: 610px) {
          .owl-nav {
            button.owl-prev {
              left: -43px;
            }
            button.owl-next {
              right: -43px;
            }
          }
        }
        @media screen and (max-width: 360px) {
          .owl-nav {
            button.owl-prev {
              left: -23px;
            }
            button.owl-next {
              right: -23px;
            }
          }
        }
      }
      @media screen and (max-width: 1200px) {
        max-width: 854px;
      }
      @media screen and (max-width: 910px) {
        max-width: 560px;
      }
      @media screen and (max-width: 744px) {
        margin-bottom: 80px;
      }
      @media screen and (max-width: 610px) {
        max-width: 268px;
        padding: initial;
      }
    }
  }
  .about-us {
    margin-bottom: 30px;

    .wrapper {
      display: flex;
      justify-content: center;
      background-color: $lightGrayBackgroundColor;
      padding: 30px 0px 24px 0px;

      .kind-of-favor {
        padding: 0px 34px 0px 23px;
        border-right: 1px solid rgba(70, 163, 88, 0.1);

        img {
          display: block;
          margin-bottom: 17px;
        }
        .title {
          font-family: $primaryFontBold;
          font-weight: 700;
          font-size: 17px;
          line-height: 94%;
          color: $darkColor;
          margin-bottom: 9px;
        }
        .text {
          font-weight: 400;
          font-size: 14px;
          line-height: 157%;
          color: $grayColor;
        }

        &:last-of-type {
          border-right-color: solid transparent;
        }

        @media screen and (max-width: 940px) {
          max-width: 222px;

          img {
            margin: auto;
            margin-bottom: 16px;
          }
          .title,
          .text {
            text-align: center;
          }
        }
        @media screen and (max-width: 611px) {
          max-width: 204px;
          padding: 16px 0px;
          border-right: none;
          border-bottom: 1px solid rgba(70, 163, 88, 0.1);

          &:last-of-type {
            border-bottom-color: transparent;
          }
        }
      }
      .wrapper-subscribe {
        .subscribe-container {
          padding-left: 35px;
          padding-right: 25px;

          .title {
            font-family: $primaryFontBold;
            font-weight: 700;
            font-size: 18px;
            line-height: 89%;
            color: $darkColor;
            margin-bottom: 18px;
          }
          .text {
            font-weight: 400;
            font-size: 13px;
            line-height: 169%;
            color: $grayColor;
          }
          form {
            @include flex_verticalAlign(center);
            margin-bottom: 17px;
          }
          .join {
            display: block;
            height: 40px;
            padding: 12px 26px;
            cursor: pointer;
            font-family: $primaryFontBold;
            font-weight: 700;
            font-size: 18px;
            line-height: 89%;
            color: #fff;
            border: 1px solid transparent;
            border-radius: 0 6px 6px 0;
            background-color: $mainColor;
            transition: 0.4s;

            &:hover {
              @include green-btn-hover;
            }
          }
          input {
            display: block;
            width: 100%;
            height: 40px;
            padding: 12px;
            border-radius: 6px 0px 0px 6px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
            border: none;

            &::placeholder {
              font-weight: 400;
              font-size: 14px;
              line-height: 114%;
              color: #acacac;
            }
          }
          @media screen and (max-width: 940px) {
            max-width: 354px;
            margin: auto;
            padding: initial;

            .title,
            .text {
              text-align: center;
            }
            .text {
              line-height: 157%;
            }
          }
          @media screen and (max-width: 611px) {
            .text {
              font-size: 14px;
              text-align: left;
            }
          }
        }
        @media screen and (max-width: 940px) {
          background-color: #fbfbfb;
          width: 100%;
          order: -1;
          padding: 25px 0px;
          margin-bottom: 40px;
        }
        @media screen and (max-width: 611px) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      @media screen and (max-width: 940px) {
        background-color: #fff;
        flex-wrap: wrap;
        padding: 0px 33px 0px;
      }
      @media screen and (max-width: 611px) {
        padding: initial;
        margin-bottom: 23px;
      }
    }
  }
  .contacts {
    .wrapper {
      display: flex;
      background-color: $lightGrayBackgroundColor;

      .contacts-container {
        @include flex_AlignBooth(space-between, center);
        width: 100%;
        padding: 25px 23px 19px;
        background: linear-gradient(to right, #edf6ef 0%, #52c368 100%);

        .logo-box {
          @include flex_verticalAlign(center);
        }
        .contact {
          font-weight: 400;
          font-size: 14px;
          line-height: 157%;
          color: $darkColor;
          @include flex_verticalAlign(center);
          transition: 0.6s;

          &:hover {
            transform: scale(110%);
          }
          @media screen and (max-width: 360px) {
            flex-direction: column;
            row-gap: 6px;
            width: 100%;
          }
        }
        .contact.address {
          &::before {
            @include before_after('../images/icons/location.svg', 20px);
            margin-right: 9px;
          }
        }
        .contact.email {
          &::before {
            @include before_after('../images/icons/email.svg', 20px);
            margin-right: 9px;
          }
        }
        .contact.phone {
          &::before {
            @include before_after('../images/icons/phone.svg', 20px);
            margin-right: 9px;
          }
        }
        @media screen and (max-width: 744px) {
          flex-wrap: wrap;
          padding: 24px 0px;
          justify-content: center;
          gap: 24px 32px;

          .logo-box {
            width: 100%;
            justify-content: center;
          }
        }
        @media screen and (max-width: 360px) {
          row-gap: 16px;
        }
      }
      @media screen and (max-width: 360px) {
        padding: initial;
        background-color: initial;
      }
    }
  }
}

footer {
  .wrapper {
    @include flex_horizonAlign(space-between);
    padding: 40px 155px 29px 25px;
    background-color: $lightGrayBackgroundColor;
    margin-bottom: 6px;

    .title {
      font-family: $primaryFontBold;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: $darkColor;
    }
    .group-categories {
      .title {
        margin-bottom: 8px;
      }

      .category {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: $darkColor;
        margin-bottom: 8px;
        transition: 0.4s;

        &:hover {
          color: $mainColor;
        }
      }
    }
    .social-media-container {
      .title {
        &:first-of-type {
          margin-bottom: 20px;
        }
        &:last-of-type {
          margin-bottom: 13px;
        }
      }
      ul {
        display: flex;
        gap: 10px;
        margin-bottom: 33px;

        li {
          .social-link {
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: 0.6s;

            &:hover {
              transform: scale(120%);
            }
          }
          &:nth-child(1) {
            .social-link {
              background-image: url('../images/icons/facebook.svg');
            }
          }
          &:nth-child(2) {
            .social-link {
              background-image: url('../images/icons/instagram.svg');
            }
          }
          &:nth-child(3) {
            .social-link {
              background-image: url('../images/icons/twitter.svg');
            }
          }
          &:nth-child(4) {
            .social-link {
              background-image: url('../images/icons/linkedin.svg');
            }
          }
          &:nth-child(5) {
            .social-link {
              background-image: url('../images/icons/youtube.svg');
            }
          }
        }
      }
    }
    @media screen and (max-width: 744px) {
      flex-wrap: wrap;
      padding: 40px 100px 48px;
      border-bottom: 1px solid rgba(215, 234, 219, 1);
      margin-bottom: initial;

      .group-categories {
        margin-bottom: 40px;
      }

      .social-media-container {
        display: flex;
        gap: 132px;
      }
    }

    @media screen and (max-width: 660px) {
      padding: 40px 46px;
      margin: initial;

      .social-media-container {
        flex-direction: column;
        gap: 48px;

        .social-media {
          ul {
            margin: initial;
          }
        }
      }
    }
  }
  .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: $darkColor;
    text-align: center;
    padding: 16px 0px;
  }
}
